/*reset*/
* {
    box-sizing: 'border-box';
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}

a{
    color: #1EB720;
    font-weight: bold;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}
    
h1{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: .6px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: .4px;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: .2px;
}

.container {
    margin: 0 50px;
    padding: 50px;
    border: 2px solid rgba(141, 116, 129, 0.8);
    border-radius: 25px;    
}

.flexContainer {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}


.introInfo p {
    font-size: 14px;
    font-style: italic;
    letter-spacing: .2;
}

.introInfo a {
    font-size: 16px;
    color: #1EB720;
    font-weight: bold;
    display: inline-block;
}

/*sublinhado nos links*/
.codelink::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #1EB720;
    transition: width 0.5s;
  }
  .codelink:hover {
    color: #1EB720;
  }
  .codelink:hover::after {
    width: 100%;
    background: #1EB720;
  }

  .navbar {
    display: flex;
    margin: 20px;
    list-style: none;
}

/*minhas skills*/
.flexSkills {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 40px 0;
}

.flexSkills p{
    padding: 10px 0;
}