/*reset*/
* {
    box-sizing: 'border-box';
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}

.container {
    margin: 0 50px;
    padding: 50px;
    border: 2px solid rgba(141, 116, 129, 0.8);
    border-radius: 25px;    
}

.flexContainer {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.introInfo h1{
    font-size: 24px;
    margin-bottom: 5px;
}

.introInfo p {
    font-size: 14px;
    font-style: italic;
    letter-spacing: .2;
}

.introInfo a {
    font-size: 16px;
    cursor: pointer;
    color: #1EB720;
    font-weight: bold;
}


.codelink::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #1EB720;
    transition: width 0.5s;
  }
  .codelink:hover {
    color: #1EB720;
  }
  .codelink:hover::after {
    width: 100%;
    background: #1EB720;
  }